<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdu.dao.BookInformationMapper">
	<select id="searchBookByName" resultType="com.qdu.bean.Book" parameterType="String">
		select * from books where bookname = #{bookname}
	</select>
	<select id="searchBookById" parameterType="String" resultType="com.qdu.bean.Book">
		select * from books where bookid = #{bookid}
	</select>
	<insert id="submitRentInformation" parameterType="com.qdu.bean.RentInformation">
		insert into user_book(username, bookid, bookname, day, startdate, enddate, state) values(#{username}, #{bookid}, #{bookname}, #{day}, #{startdate}, #{enddate}, #{state})
	</insert>
	<select id="checkRentInformationOnly" parameterType="com.qdu.bean.RentInformation" resultType="com.qdu.bean.RentInformation">
		select * from user_book where username = #{username} and bookid = #{bookid}
	</select>
	<select id="allcategory" resultType="String">
		select distinct category from books
	</select>
	<select id="searchBookByCategory" parameterType="String" resultType="com.qdu.bean.Book">
		select * from books where category = #{categoryname}
	</select>
	<select id="userOrderbook" parameterType="String" resultType="com.qdu.bean.RentInformation">
		select * from user_book where username = #{username} and state = 0
	</select>
	<select id="cancelOrder" parameterType="String">
		delete from user_book where rentid = #{rentid}
	</select>
	<select id="userRentbook" parameterType="String" resultType="com.qdu.bean.RentInformation">
		select * from user_book where username = #{username} and state = 1
	</select>
	<select id="userOvertime" resultType="com.qdu.bean.RentInformation">
		select * from user_book where enddate &lt; #{datenow} and username = #{username} and state = 1
	</select>
	<select id="userReturnbook" parameterType="String" resultType="com.qdu.bean.RentInformation">
		select * from user_book where username = #{username} and state = 2
	</select>
</mapper>